<!-- <div class="card" *ngIf="!iscontactpage">
    <div class="card-body">
        <ng-content select=".card-title"></ng-content>   
        <p>input value : <strong>{{myValue}}</strong></p>  
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
        <ng-content select=".btn .btn-success"></ng-content>
    </div> 
</div> -->
<div class="card" *ngIf="!iscontactpage">
    <div class="card-body">
         
        <p>input value : <strong>{{myValue}}</strong></p>  
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
       <ng-content></ng-content>
    </div> 
</div>
<div class="card" *ngIf="iscontactpage">
    <div class="card-body">
        <h5>Laptop alert</h5>     
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
       <button class="btn btn-success" (click)="btnclick()">NewsSettler for card1</button>
    </div> 
</div>

<div class="card" *ngIf="iscontactpage">
    <div class="card-body">
        <h5>{{product_service}}</h5>     
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
       <button class="btn btn-success" (click)="btnclick()">NewsSettler for card1</button>
    </div> 
</div>