<div class="card">
    <div class="card-body">
        <h5  appTestdirective >Mobile alert {{alertfromparent}}</h5>     
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
       <button class="btn btn-success" (click)="btnclick()">NewsSettler for mobile card2</button> &nbsp;
       <button class="btn btn-success" (click)="changedirectivecolor('green')">changedirectivecolorgreen</button>&nbsp;
       <button class="btn btn-success" (click)="changedirectivecolor('blue')">changedirectivecolorblue</button>
       <ng-content></ng-content>
    </div> 
</div>
 