<div id="header" class="center" style="color:black; background-color:ghostwhite; text-align: center;">
  <h2>About component</h2>
  <div id="main" style="display: inline;">
    <!-- <div id="content" class="center" style="text-align: center;">ustry. Lorem Ipsum has been the industry's standard
      dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
      containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
      including versions of Lorem Ipsum.
      <div class="row mg-20 ">
        <div class="col-md-6">
          <app-card>
            <h5 class="card-title">Laptop</h5>
            <button class="btn btn-success" value="laptop" (click)="onclickofknowmore($event)">
              Know more about laptop
            </button>
          </app-card>
        </div>
        <div class="col-md-6">
          <app-card>
            <h5 class="card-title">Mobile</h5>
            <button class="btn btn-success" value="mobile" (click)="onclickofknowmore($event)">
              Know more about Mobile
            </button>
          </app-card>
        </div>
      </div>
      <div class="row mg-20">
        <div class="col-md-6">
          <app-card>
            <h5 class="card-title">TV</h5>
            <button class="btn btn-success" value="TV" (click)="onclickofknowmore($event)">
              Know more about TV
            </button>
          </app-card>
        </div>
        <div class="col-md-6">
          <app-card>
            <h5 class="card-title">Fan</h5>
            <button class="btn btn-success" value="fan" (click)="onclickofknowmore($event)">
              Know more about fan
            </button>
          </app-card>
        </div>
        <div>
          <h5>{{value | uxpipe:5}}</h5>
        </div>
      </div>
      <div class="product">
        <ng-container *ngIf="statusonline">
          <div *ngFor="let proitem of productarray">
            <p>{{proitem.name | uxpipe:5}}</p>
          </div>
        </ng-container>
      </div>
    </div> -->
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="form-group">
          <input type="text" class="form-control" id="add product" placeholder="add product" #addproduct>
          <button (click)="onAddproduct(addproduct.value)"> add product</button>
        </div>
      <div class="col-8">
        <div class="form-group">
          <label for="exampleFormControlInput1">Search by name</label>
          <input type="text" class="form-control" id="search" placeholder="searchbyname" [(ngModel)]=namesearch>
        </div>
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">product name</th>
              <th scope="col">price</th>
              <th scope="col">Availability</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let productarrayitem of productarray  | filter:namesearch">
              <th scope="row">{{productarrayitem.sno}}</th>
              <td>{{productarrayitem.name}}</td>
              <td>{{productarrayitem.price}}</td>
              <td class = "badge bg-secondary">{{productarrayitem.availability}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>