<div class="container">
    <div class="row">
      <div class="col box">
        <h5 class="text-success ml-3">User</h5>
        <table class="table">
          <thead class="header">
              <tr>
                  <th>username</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody *ngIf="showlistuser"> 
            <tr  *ngFor = "let user of users ; index as i">
                <td>{{user.name}}</td>
                <td><button class="btn btn-danger" (click)="onremoveUser(i)"> remove</button></td>
            </tr>
            </tbody>
        </table>
        <!-- <ng-container *ngIf="showlistuser">
        <div class="row ml-3" *ngFor = "let user of users ; index as i">
          <p class="ml-3 col-md-3">{{user.name}}</p>
          <button class="btn btn-danger col-md-3" (click)="onremoveUser(i)"> remove</button>
        </div>
      </ng-container> -->
      </div>
      <div class="col box">
        <h5 class="text-success ml-3">Admin</h5>
        <table class="table">
          <thead class="header">
              <tr>
                  <th>Adminname</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody *ngIf="showlistadmin">
            <tr   *ngFor = "let admin of admins; index as i">
                <td>{{admin.name}}</td>
                <td><button class="btn btn-danger" (click)="onremoveAdmin(i)"> remove</button></td>
            </tr>
            </tbody>
        </table>
        <!-- <ng-container *ngIf="showlistadmin">
        <div class="row ml-3" *ngFor = "let admin of admins; index as i">
          <p class="ml-3 col-md-3">{{admin.name}}</p>
          <button class="btn btn-danger col-md-3" (click)="onremoveAdmin(i)"> remove</button>
        </div>
      </ng-container> -->
      </div>
    </div>
    <div class="row">
      <div class="col box-child userbgcolor">
       <app-childexcercise
       [placeholderText]="'Create User'"
       [Usercount] = "usercount"
       (onaddeduser)="onadditionofuser($event)"
       ></app-childexcercise> 
      </div>
      <div class="col box-child adminbgcolor">
        <app-childexcercise
        [placeholderText]="'Create Admin'"
        [Admincount] = "admincount"
        (onaddeduser)="onadditionofadmin($event)"
        >
        </app-childexcercise> 
      </div>
    </div>
</div>
