.box {
    width: 250px;
    height: fit-content;
    padding: 10px;
    border: 5px solid gray;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 30px;
  }
  .ml-3{
      margin-left: 3rem;
      padding-bottom: 10px;
  }
  .box-child {
    width: 250px;
    height: fit-content;
    padding: 10px;
    border: 1px solid gray;
    margin-bottom: 0px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 30px;
  }
  .userbgcolor{
      background-color : bisque;
  }
  .adminbgcolor{
      background-color : rgb(197, 241, 197) ;
  }