<div class="form-group row" style="margin-left: 5rem;">
    <div class="col-sm-8">
      <input type="text" class="form-control"  [placeholder]="placeholderText" #inputvalue>
      <button type="button" class="btn btn-success btnclass" (click)="onCreate(inputvalue.value)">Create</button>
      <p *ngIf="true">total {{placeholderText === 'Create User' ? 'User' : 'Admin'}}: {{placeholderText === 'Create User' ? Usercount : Admincount}}</p>
    </div>
  </div>