<!-- <p>eventbinding works!</p>
<p> add to cart</p>
<br><br>
<p>{{title}}</p> 
<input type="text" class="form-control" value={{msg}}>
<input type="text" class="form-control" [value]=defaultvalue>
<button (click)="onclick($event)" value="Laptop"> Laptop</button>
<button (click)="onclick($event)" value="TV"> TV</button>
<button (click)="onclick($event)" value="washing Machine"> washing Machine</button>
<p> {{msg}}</p> -->

<!-- <p>template ref variable</p>

 <input id="dfd"  #inputinfo type="text" name="shital" value = "uxtrendz">
<button  (click)="getinputinfo(inputinfo)"> getinfo</button> -->

//two way data binding
<input type="text" value="sjghg" [(ngModel)]="uname">
<p>{{uname}}</p>

<!-- <div class="row">
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Datepicker"
             class="form-control"
             bsDatepicker>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group mb-3">
      <input type="text"
             placeholder="Daterangepicker"
             class="form-control"
             bsDaterangepicker>
    </div>
  </div> -->

  <!-- //ngIF ngfor uses -->
  <!-- <div class="container">
    <button class="btn btn-success" (click)="onCreateblock()"> create block</button>
    <br><br>
    <p *ngIf="isValid">block has been created</p>
  </div> -->
<br><br>
  <!-- //ngIF ngfor uses -->
  <div class="container">
    <button class="btn btn-success" (click)="onCreateblock()"> create block</button>
    <br><br>
    <!-- //if else block -->
    <p *ngIf="isValid ; else else_block_ref_variable">if block has been created</p>
    <ng-template #else_block_ref_variable>
      <p >else block print</p>
    </ng-template>
  </div> 

  <!-- ngswitch example -->
  <p>switch case example</p>
  <div class="comtainer">
    <div class="col-md-4" (change)="getProductvalue($event)">
      <select class="form-control" style="appearance: menulist;">
        <option value="default">Select Product</option>
        <option value="Laptop">Laptop</option>
        <option value="TV">TV</option>
        <option value="Mobile">Mobile</option>
        <option value="Fan">Fan</option>
      </select>
    </div>
  </div>

  <div class="col-md-12" [ngSwitch]= "selectedProduct">
    <h2 class="text-success" *ngSwitchDefault="">please select product</h2>
     <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
     <h2 class="text-success"  *ngSwitchCase="'TV'">TV</h2>
     <h2 class="text-success"  *ngSwitchCase="'Mobile'">Mobile</h2>
     <h2 class="text-success"  *ngSwitchCase="'Fan'">Fan</h2> 
  </div>
