<div id="header" class="center" style="color:black; background-color:ghostwhite; text-align: center;">
    <h2>Cotact Us</h2>

    <div id="main">
        <div id="content" class="center" style="text-align: center;">ustry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,

            <div class="row mg-20 ">
                <div class="col-md-6">
                    <app-card
                    [iscontactpage] = true
                    >
                    </app-card>
                </div>
                <div class="col-md-6">
                    <app-card2>
                        <h5 class="card-title">Mobile</h5>
                        <button class="btn btn-success" value="mobile">
                            NewsSetteler Subscribe
                        </button>
                    </app-card2>
                </div>
            </div>


            <div class="container">
                <div class="row">
                  <div class="col box">
                    <table class="table">
                        <thead class="header">
                            <tr>
                                <th>product</th>
                                <th>Id</th>
                            </tr>
                        </thead>
                        <tbody> 
                        <tr  *ngFor = "let product of products_list ; index as i">
                            <td>{{product.name}}</td>
                            <td>{{product.id}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        </div>
    </div>
</div>
