.box {
    width: 250px;
    height: fit-content;
    padding: 10px;
    border: 5px solid gray;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 500px;
    margin-top: 30px;
  }