<div class="form-group row" style="margin-left: 5rem;">
  <div class="col-sm-8">
    <p>username: <strong>{{userName}}</strong></p>
    <input type="text" class="form-control"  #uname>
    <button type="button" class="btn btn-success btnclass" (click)="onupdateuname(uname)" >update</button>
  </div>
</div>