<p>pagenotfound works!</p>
<div>
    <h5> Parent box </h5>
    <div #box>
        <h1>404 Error</h1>
        <h1>Page Not Found</h1>
    </div>

    <div class="container">
        <input type="text" placeholder="input here.." #val>
        <button class="btn-submit" (click)="submitValue(val)">Submit</button>
    </div>
    <!-- <div *ngIf = "comp1Exist">
        <app-card [myValue]="Value">
            <p>ngcontent: <span class="form control">{{Value}}</span></p>
        </app-card>
    </div> -->
    <div>
        <button class="btn-submit" (click)="onchangechildproperty()"> change child property</button>
        <button class="btn-submit" (click)="onchangechildmethod()"> change child method</button>
    </div>
   
    <div>
        <br><br><h5>child component card2</h5>
        <app-card2>
            <p #childcontentvariable> this is ngcontent paragraph : </p>
        </app-card2>
    </div> 
    

    <div>
        <button class="btn btn-danger" (click)="destroycomponent()"> toggle child component appcard</button>
        <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>
    

</div>