<div class="page-area">
    <h2 class="text-center"> buy-Products</h2>
    <hr class="mb-3">
    <!-- alert div -->
    <div class="alert alert-light border d-flex align-items-center" role="alert" *ngIf="addedProduct">
        <p style="text-align: left;"><strong class="text-success"> {{addedProduct}} </strong> &nbsp; is selected and added to cart!</p>
        <button class="btn btn-success" style="margin-left:auto"> checkout </button>
      </div>

    <div class="row">
      <div class="col-md-12" style="display: flex">
        <div class="card"> 
            <img src="../../assets/Laptop.png" class="img-width">
          <div class="card-body">
            <h5 class="card-title">Laptop</h5>
            <button  class="btn btn-success" (click)="onSelectProduct('Laptop')">select Product </button>
          </div>
        </div>

          <div class="card">
            <img src="../../assets/TV.png" class="img-width">
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <button class="btn btn-success" (click)="onSelectProduct('TV')">select Product</button>
            </div>
          </div>
  
         <div class="card">
            <img src="../../assets/Mobile.png" class="img-width" style="width: 8rem !important">
          <div class="card-body">
            <h5 class="card-title">Mobile</h5>
            <button  class="btn btn-success" (click)="onSelectProduct('Mobile')">select Product</button>
          </div>
        </div>


        <div class="card">
            <img src="../../assets/Fan.png" class="img-width" style="width: 14rem !important">
            <div class="card-body">
              <h5 class="card-title">Fan</h5>
              <button  class="btn btn-success" (click)="onSelectProduct('Fan')" >select Product</button>
            </div>
        </div>
  
       
      </div>
      <!-- <div class="col-md-12 text-white bg-success py-4">
        <h2 class="text-center" *ngIf="!proSelected_parent">please select product</h2>
        <h2 class="text-center" *ngIf="proSelected_parent">{{selProduct_parent}} is selected </h2>
        <button type="button" class="btn btn-light" (click)="onAddedProduct()">Add to cart</button>
      </div> -->

      
      <!-- <app-child [PlaceholderText]="'pass from parent to child..'"></app-child> -->
      <!--  before creating child component -->
      <app-child class="w-100 p-3"
       [productSelected]="proSelected_parent" 
       [selectedProduct]="selProduct_parent"
       (addedproductinchild) = "parentaddedproductmethod($event)"
       ></app-child>
    </div>
</div>