<!-- <myContainer></myContainer> -->

<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-ngfor></app-ngfor> -->

<!-- create navigation bar for routing  -->
<div class="container center">

<header>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-items"><a class="nav-link" routerLinkActive="active"  routerLink='/home' [routerLinkActiveOptions]="{exact:true}">Home</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/about/'>About</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/product/'>product</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/ngforcomponent/'>ngforcomponent</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/eventbindingcomponent/'>eventbindingcomponent</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/buy-product/'>buy-product</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/contact/'>ContactUs</a></li>
            <li class="nav-items"><a class="nav-link" routerLinkActive="active" routerLink='/randomnotdefinedroute/'>pagenotfound</a></li>
        </ul>
    </nav> 
</header>
<div id="header" class="center" style="color:black; background-color:ghostwhite; text-align: center; width: 1180px">
<router-outlet></router-outlet>
</div>
</div>
<!-- <app-parentexcercise></app-parentexcercise> -->