#main {display: flex;}
#content {
    background-color: ghostwhite;
}
.page-area{
    width:100%;
    margin: 0 auto;
    padding:15px ;
    min-height: 400px;
    text-align:center;
    background: ghostwhite;
    box-shadow: inset 0 0 107px -42px black;
}

.card{
    display: flex;
    text-align:center !important;
    margin: 0 10px 10px;
    width: 45%;
}
