<div class="page-area">
  <h2>Products</h2>
  <p> hddghghfghjklshjksdfghjkm,</p>
  <hr class="mb-3">
  <div class="row">
    <div class="col-md-8" style="display: flex">

      <div class="col-md-4" style=" margin-right: 20px;">

        <img src="../../assets/Laptop.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="laptop" class="btn btn-success">Know more</a>
        </div>

        <div class="card" style="width: 12rem;">
          <img src="../../assets/TV.png" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">TV</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="TV" class="btn btn-success">Know more</a>
          </div>
        </div>

      </div>

      <div class="col-md-4" style=" margin-left: 20px;">

        <img src="../../assets/Mobile.png" class="card-img-top" alt="..." style="height:154px !important">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="mobile" class="btn btn-success">Know more</a>
        </div>

        <div class="card" style="width: 12rem;">
          <img src="../../assets/Fan.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fan</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="fan" class="btn btn-success">Know more</a>
          </div>
        </div>

      </div>


    </div>
    <div class="col-md-4">
      <!-- without rouer outlet html view of link not get triggered -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <div class="col-md-12">
    <div class="col-md-3">
      <div class="card" style="width: 12rem;">
        <img src="../../assets/Laptop.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="laptop" class="btn btn-success">Know more</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 12rem;">
        <img src="../../assets/Mobile.png" class="card-img-top" alt="..." style="height:120px !important">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="mobile" class="btn btn-success">Know more</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 12rem;">
        <img src="../../assets/TV.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TV</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="TV" class="btn btn-success">Know more</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card" style="width: 12rem;">
        <img src="../../assets/Fan.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="fan" class="btn btn-success">Know more</a>
        </div>
      </div>
    </div>
  </div>
</div> -->