<!-- <input type="text" [placeholder]="PlaceholderText" value=""> -->

<div class="col-md-12 text-white bg-success py-4">
    <h2 class="text-center" *ngIf="!productSelected">please select product</h2>
    <h2 class="text-center" *ngIf="productSelected">{{selectedProduct}} is selected </h2>
    <button type="button" class="btn btn-light" (click)="onAddedProduct()">Add to cart</button>
</div>
