<p>ngfor works!</p>
<!-- <div class="container">
    <div class="row">
       <div class="col-md-8">
        <table class="table">
            <thead class="header">
                <tr>
                    <th>Sr.No</th>
                    <th>Product Image</th>
                    <th>Product Name</th>
                    <th>Product Id</th>
                    <th>Product Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let mypro of product, index as I_ndex">
                    <td>{{I_ndex+1}}</td>
                    <td><img class ="imgcontainer" src="{{mypro.proimage}}"/></td>
                    <td>{{mypro.name}}</td>
                    <td>{{mypro.id}}</td>
                    <td>{{mypro.price}}</td>
                </tr>
            </tbody>
        </table>
       </div>
    </div>
</div> -->


<div class="container">
   <div class="row">
       <div class="col-md-3">
            <!-- <p>give template ref variable so we can use inputvalue in other functn</p>  -->
        <input type="text" placeholder="username" class="form-control" #uname id="username"> 
       </div>
       <div class="col-md-3">
        <button class="btn btn-success" (click)="onCreateUser(uname.value)"> create user</button>
       </div>
       <div class="col-md-3">
        <button class="btn btn-success" (click)="onRemoveUser()"> Remove user</button>
       </div>
   </div>
</div>
<br> 

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <table class="table">
                <thead class="header">
                    <tr>
                        <td>username</td>
                        <td>Remove user</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users ; index as i">
                        <td>{{user.name}}</td>
                        <td><button class="btn btn-danger" (click)="removeindexeduser(i)"> remove user</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>