#main {display: flex;}
#content {
    background-color: ghostwhite;
   
}

.box-child{

height: fit-content;
padding: 10px;
border: 1px solid gray;
margin-bottom: 0px;
margin-left: 65px;
margin-right: 65px;
margin-top: 30px;
}
.userbgcolor{
  background-color : bisque;
}
.adminbgcolor{
  background-color : rgb(197, 241, 197) ;
}