<div id="header" class="center" style="color:black; background-color:ghostwhite; text-align: center;">
    <h2>Home component</h2>

    <div id="main">
        <div id="content" class="center" style="text-align: center;">ustry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
            type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
            containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
            including versions of Lorem Ipsum.
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <div class="col box-child userbgcolor">
           <h1>username is : <span class="text-success">{{userName}}</span> </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="col box-child userbgcolor">
            <app-comp1 ></app-comp1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col box-child userbgcolor">
            <app-comp2 ></app-comp2>
        </div>
    </div>

    </div>
</div>